.example-container{
    height: 94vh;
    border: 1px solid whitesmoke;
}

mat-toolbar{
    height: 6vh;
}

.elementoEnlace{
    border-bottom: 2px solid black;
    padding: 12px 24px;
    margin-bottom: 2vh;
    cursor: pointer;
}

.example-sidenav-content{
    padding-left: 1.5vw;
    height: 100%;
}