<!-- Añadimo Spinner-->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<!--Barra de navegación-->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Añadimos nuestra nueva función de titulo -->
    <span> {{tituloBarra}} </span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
  <!--Contenido de la web-->
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--Enlaces de la web-->

      <div class="elementoEnlace" [routerLink]="['usuario/login']">Inicio sesión</div>
      <div class="elementoEnlace" [routerLink]="['usuario/register']">Registro</div>
      <div class="elementoEnlace" [routerLink]="['control']">Panel de Control</div>
      <div class="elementoEnlace" [routerLink]="['formularioDoctor']">Creación Doctor</div>
      <div class="elementoEnlace" [routerLink]="['familia/visitaFamiliar']">Visita Familiar</div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>





