<mat-card>
    <mat-card-title>{{doctor.nombre}}</mat-card-title>
    <mat-card-subtitle>{{doctor.apellidos}}</mat-card-subtitle>
    <mat-card-subtitle>{{doctor.turno}}</mat-card-subtitle>
    <mat-card-subtitle>{{doctor.hospital}}</mat-card-subtitle>
    <mat-card-subtitle>{{doctor.especialidad}}</mat-card-subtitle>
    
    <mat-card-actions *ngIf="!modoLectura">
      <button  mat-raised-button color="primary" (click)="solicitaCita()">Pedir cita</button>
      <button mat-raised-button color="accent">Consultar cita</button>
      <button mat-raised-button color="warn" (click)="borrarDoctor()">Borrar</button>
      <button mat-raised-button color="accent" (click)="editarDoctor()">Editar</button>
      
    </mat-card-actions>
  </mat-card>
