<h1>Registro</h1>
<form [formGroup]="formRegister">

  <mat-form-field appearance="fill">
    <mat-label>Enter your Name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="formRegister.get('name').hasError('required')">Este Campo es Obligatorio</mat-error>
  </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="formRegister.get('email').hasError('required')">Este Campo es Obligatorio</mat-error>
      </mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput formControlName="password">
    <mat-error *ngIf="formRegister.get('password').hasError('required')">Este Campo es Obligatorio</mat-error>
    <mat-error *ngIf="formRegister.get('password').hasError('minlength')">Mínimo tres caracteres</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Repite el Password</mat-label>
    <input matInput formControlName="password2">
    <mat-error *ngIf="formRegister.get('password2').hasError('required')">Este Campo es Obligatorio</mat-error>
    <mat-error *ngIf="formRegister.get('password2').hasError('minlength')">Mínimo tres caracteres</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary"[disabled]="formRegister.invalid" (click)="recogeFormulario()">Registrar</button>
</form>
<pre>
    {{formRegister.value | json}}
</pre>
